name: Create Atlas Cluster

on:
  push:
    branches: [ main ]

jobs:
  create-cluster:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Atlas CLI
      run: |
        curl -L https://fastdl.mongodb.org/mongocli/mongodb-atlas-cli_1.5.0_linux_x86_64.deb -o mongodb-mms.deb
        sudo dpkg -i mongodb-mms.deb
    - name: Atlas Login;
      env:
        MONGODB_ATLAS_PUBLIC_API_KEY: ${{ secrets.MONGODB_ATLAS_PUBLIC_API_KEY }}
        MONGODB_ATLAS_PRIVATE_API_KEY: ${{ secrets.MONGODB_ATLAS_PRIVATE_API_KEY }}
        MONGODB_ATLAS_PROJECT_ID: ${{ secrets.MONGODB_ATLAS_PROJECT_ID }}
      run: |
        set -ex
        echo '{"name":"s-cluster","clusterType":"REPLICASET", "mongoDBMajorVersion": "6.0","autoScaling":{"compute":{"enabled":true,"scaleDownEnabled":true}},"backupEnabled":true,"providerSettings":{"providerName":"AZURE","autoScaling":{"compute":{"maxInstanceSize":"M30","minInstanceSize":"M10"}}},"replicationSpecs":[{"regionConfigs":[{"electableSpecs":{"instanceSize":"M10","nodeCount":2},"priority":7,"providerName":"AZURE","regionName":"US_EAST_2"},{"electableSpecs":{"instanceSize":"M10","nodeCount":1},"priority":6,"providerName":"AZURE","regionName":"US_CENTRAL"}]}]}' > config.json
        atlas clusters create --file ./config.json --projectId 62c679e0f373002ad29fdc35
        atlas clusters watch s-cluster --projectId 62c679e0f373002ad29fdc35
