name: Create Atlas Cluster

on:
  push:
    branches: [ main ]

jobs:
  create-cluster:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Atlas CLI
      run: |
        curl -L https://fastdl.mongodb.org/mongocli/mongodb-atlas-cli_1.5.0_linux_x86_64.deb -o mongodb-mms.deb
        sudo dpkg -i mongodb-mms.deb
    - name: Atlas Login;
      env:
        MONGODB_ATLAS_PUBLIC_API_KEY: pywlbqma
        MONGODB_ATLAS_PRIVATE_API_KEY: da321f76-78c4-4448-9552-3b9bbdc6acef
        MONGODB_ATLAS_PROJECT_ID: 63ce633b2653634b36dea38b
      run:
        echo "logged in"

    - name: Atlas create cluster
      run: |
        atlas cluster create myCluster --projectId 5e2211c17a3e5a48f5497de3 --provider AWS --region US_EAST_1 --tier M0



    - name: Watch for update
      run: |
        atlas watch
