name: Create Atlas Cluster

on:
  push:
    branches: [ main ]

jobs:
  create-cluster:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Atlas CLI
      run: |
        curl -L https://fastdl.mongodb.org/mongocli/mongodb-atlas-cli_1.5.0_linux_x86_64.deb -o mongodb-mms.deb
        sudo dpkg -i mongodb-mms.deb
    - name: Atlas Login
      env:
        MONGODB_ATLAS_PUBLIC_API_KEY: pywlbqma
        MONGODB_ATLAS_PRIVATE_API_KEY: da321f76-78c4-4448-9552-3b9bbdc6acef
      run: |
        atlas config set public_api_key pywlbqma
        atlas config set private_api_key da321f76-78c4-4448-9552-3b9bbdc6acef

    - name: Atlas create cluster
      run: |
        atlas quickstart --skipMongosh --skipSampleData --provider AWS --region EU_CENTRAL_1 --tier M0 --username admin --password Passw0rd --accessListIp "0.0.0.0/0" --clusterName MyCustomers -P MDBU --force 


    - name: Watch for update
      run: |
        atlas watch
