name: Create Atlas Cluster

on:
  push:
    branches: [ main ]

jobs:
  create-cluster:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Atlas CLI
      run: |
        curl -L https://fastdl.mongodb.org/mongocli/mongodb-atlas-cli_1.5.0_linux_x86_64.deb -o mongodb-mms.deb
        sudo dpkg -i mongodb-mms.deb
    - name: Atlas Login;
      env:
        MONGODB_ATLAS_PUBLIC_API_KEY: pywlbqma
        MONGODB_ATLAS_PRIVATE_API_KEY: da321f76-78c4-4448-9552-3b9bbdc6acef
        MONGODB_ATLAS_PROJECT_ID: 63ce633b2653634b36dea38b
      run: |
        set -ex
        atlas clusters create --file ./config.json --projectId 6267bec7e6ecef5ca1f56270
        atlas clusters watch s-cluster --projectId 6267bec7e6ecef5ca1f56270
        atlas watch
